/*!
* Style Sheet for ""
* version: 1
* last modified:2023 By Applab
* author: Applab
* website: www.applab.qa
*/

/*b5 start -------------------------------------------------------------------------------------------------------------------*/


@import "../../node_modules/bootstrap/scss/bootstrap";

/*b5 end ---------------------------------------------------------------------------------------------------------------------*/

@import 'base/fonts';
@import 'themes/ltr';
@import 'utilities/variables';
@import 'layout/dashboard';
@import 'layout/layout';
@import 'layout/header';
@import 'layout/notification-box';
@import 'layout/signin';
@import 'layout/_country-leader-profiling';
@import 'layout/countries-details';
@import 'layout/leaders-states';
@import 'layout/_footer';
@import 'layout/assignDesignation';
@import 'layout/roles';
@import 'layout/notifications';
@import 'modules/confidenceScore-range';
@import 'modules/all-modal';

@import 'utilities/mixins', 'utilities/functions';

@import 'modules/buttons', 'base/reset', 'base/base';



