doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(rel="preload", href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap", as="style", onload="this.onload=null;this.rel=\'stylesheet\'")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/styles/github.min.css")

        noscript
            link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap")

        link(rel="stylesheet", href="assets/_css/app.css" media="print" onload="this.onload=null;this.removeAttribute('media');")
        //- link(rel="stylesheet", href="assets/css/app.min.css" media="print" onload="this.onload=null;this.removeAttribute('media');")
        noscript
            link(rel="stylesheet", href="assets/_css/app.css")
            //- link(rel="stylesheet", href="assets/css/app.min.css")
        title Countries Details 
    body
        
        .dashboard.bg-light 
            include ../partials/_header
            .updated-info 
                | Most Recent Information Date: &nbsp; 
                strong 27/10/2024 | 15:36 PM
            .countries-details-content
                .countries-details-content-header
                    h1 Here is the information about your leader
                    //- p.sub-heading We're glad to see you again!
                //- .history.position-relative
                //-     .hide-show-menu.position-absolute 
                //-         i.fa-solid.fa-angles-left
                //-     .history-content 
                //-         h3 HISTORY
                //-         #accordionPanelsStayOpenExample.accordion
                //-             .accordion-item
                //-                 h2#panelsStayOpen-headingOne.accordion-header
                //-                 button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#panelsStayOpen-collapseOne' aria-expanded='true' aria-controls='panelsStayOpen-collapseOne')
                //-                     | Yesterday
                //-                 #panelsStayOpen-collapseOne.accordion-collapse.collapse.show(aria-labelledby='panelsStayOpen-headingOne')
                //-                     .accordion-body
                //-                         .accordion-item-countries.d-flex.border-0
                //-                             img(src="assets/images/sa-02.png", alt="") 
                //-                             span Saudi Arabia
                //-                         .accordion-item-countries.d-flex.border-0 
                //-                             img(src="assets/images/nz-02.png", alt="") 
                //-                             span New Zealand
                //-                         .accordion-item-countries.d-flex.border-0 
                //-                             img(src="assets/images/qatar-02.png", alt="") 
                //-                             span Qatar
                //-                         .accordion-item-countries.d-flex.border-0 
                //-                             img(src="assets/images/uae-02.png", alt="") 
                //-                             span UAE
                //-                         .accordion-item-countries.d-flex.border-0 
                //-                             img(src="assets/images/india-02.png", alt="") 
                //-                             span India
                //-             .accordion-item
                //-                 h2#panelsStayOpen-headingTwo.accordion-header
                //-                 button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#panelsStayOpen-collapseTwo' aria-expanded='false' aria-controls='panelsStayOpen-collapseTwo')
                //-                     | Accordion Item #2
                //-                 #panelsStayOpen-collapseTwo.accordion-collapse.collapse(aria-labelledby='panelsStayOpen-headingTwo')
                //-                     .accordion-body
                //-                         strong This is the second item&apos;s accordion body.
                //-                         |  It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It&apos;s also worth noting that just about any HTML can go within the 
                //-                         code .accordion-body
                //-                         | , though the transition does limit overflow.
                //-             .accordion-item
                //-                 h2#panelsStayOpen-headingThree.accordion-header
                //-                 button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#panelsStayOpen-collapseThree' aria-expanded='false' aria-controls='panelsStayOpen-collapseThree')
                //-                     | Accordion Item #3
                //-                 #panelsStayOpen-collapseThree.accordion-collapse.collapse(aria-labelledby='panelsStayOpen-headingThree')
                //-                     .accordion-body
                //-                         strong This is the third item&apos;s accordion body.
                //-                         |  It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It&apos;s also worth noting that just about any HTML can go within the 
                //-                         code .accordion-body
                //-                         | , though the transition does limit overflow.
                

                //- div(style='display: flex')
                //-     .progress-js(data-width='70' data-height='70' data-stroke-width='3' data-value='50' data-font-size='.7rem' data-font-weight='300')
                .country-details-content.leader-details-content
                    .leader-section-one
                        .leader-photo
                            .leader-photo-content 
                                img.leader-photo(src="assets/images/leader-image.png", alt="leader photo", srcset="")
                            .leader-name-position 
                                h4 Antony J. Blinken
                                span Secretary of State
                            .leader-social-profile 
                                a.social-btn(href="#") 
                                    i.fa-brands.fa-instagram
                                a.social-btn(href="#")
                                    i.fa-brands.fa-facebook-f
                                a.social-btn(href="#") 
                                    i.fa-brands.fa-x-twitter

                        .leader-bio-about   
                            .leader-bio 
                                h3 
                                    | Biography
                                p Antony Blinken was born to Judith (née Frehm) Blinken and Donald Blinken. His mother, Judith, later became a UNESCO special envoy for cultural diplomacy in 2017, while his father, Donald, was a venture capitalist who served as the U.S. ambassador to Hungary from 1994 to 1997. After his parents divorced in 1971, Judith married Samuel Pisar, a Holocaust survivor and renowned lawyer.
                            .leader-about   
                                h3
                                    | About 
                                p Dive into the key facts and figures of the world leader
                                .leader-about-content   
                                    .about-box
                                        p Date of Birth 
                                        span April 16, 1962
                                    .about-box
                                        p Age 
                                        span 64
                                    .about-box
                                        p Current Position
                                        span Secretary of State
                                    .about-box
                                        p Term Start Date 
                                        span January 26, 2021
                    .leader-section-two 
                        h3 Family Status
                        p Antony Blinken was born to Judith (née Frehm) Blinken and Donald Blinken. His mother, Judith, later became a UNESCO special envoy for cultural diplomacy in 2017
                    .leader-section-three 
                        .confidence-score
                            h3 Confidence Score 
                            p This information are highly accurate and effective to help the users find correct data
                            div(style='')
                                input(type='range' value='75' min='0' max='100' step='1' style='display:none;')
                                .pie(data-pie='{"speed": 30, "percent": 75, "colorSlice": "rgba(89, 185, 167, 1)", "colorCircle": "#f1f1f1", "round": true }')
                            //- .progress
                            //-     span.title.timer(data-from='0' data-to='85' data-speed='1800') 90
                            //-     .overlay
                            //-     .left
                            //-     .right
                        .accordion-portion 
                            #one-open-other-close.accordion
                                .accordion-item.education-collapse
                                    h2#leader-headingOne.accordion-header
                                    button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#leader-collapseOne' aria-expanded='true' aria-controls='leader-collapseOne')
                                        | Education
                                    #leader-collapseOne.accordion-collapse.collapse.show(aria-labelledby='leader-headingOne' data-bs-parent="#one-open-other-close")
                                        .accordion-body.education-content
                                            .education-item     
                                                strong Majored in social studies, co-edited The Harvard Crimson.
                                                span.institute Harvard University (1984)
                                                span.year 1984
                                            .education-item     
                                                strong Earned a J.D.degree.
                                                span.institute Columbia Law School 
                                                span.year 1988

                                           
                                .accordion-item.education-collapse
                                    h2#leader-headingTwo.accordion-header
                                    button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#leader-collapseTwo' aria-expanded='false' aria-controls='panelsStayOpen-collapseTwo')
                                        | Previous Career
                                    #leader-collapseTwo.accordion-collapse.collapse(aria-labelledby='leader-headingTwo' data-bs-parent="#one-open-other-close")
                                        .accordion-body.education-content
                                            .education-item     
                                                strong Majored in social studies, co-edited The Harvard Crimson.
                                                span.institute Harvard University (1984)
                                                span.year 1984
                                            .education-item     
                                                strong Earned a J.D.degree.
                                                span.institute Columbia Law School 
                                                span.year 1988
                                //- .accordion-item
                                //-     h2#panelsStayOpen-headingThree.accordion-header
                                //-     button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#panelsStayOpen-collapseThree' aria-expanded='false' aria-controls='panelsStayOpen-collapseThree')
                                //-         | Accordion Item #3
                                //-     #panelsStayOpen-collapseThree.accordion-collapse.collapse(aria-labelledby='panelsStayOpen-headingThree')
                                //-         .accordion-body
                                //-             strong This is the third item&apos;s accordion body.
                                //-             |  It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It&apos;s also worth noting that just about any HTML can go within the 
                                //-             code .accordion-body
                                //-             | , though the transition does limit overflow.
                    .next 
                        a.back-link(href="#")
                            i.fa-solid.fa-arrow-left
                            | Go Back To Homepage
                        a.next-btn.download.d-flex.gap-2.align-items-center(href="#" download)
                            i.fa-solid.fa-download 
                            | Download PDF    
        include ../partials/_footer
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        script(src='https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js')
        script(src="https://cdn.jsdelivr.net/gh/tomik23/circular-progress-bar@latest/docs/circularProgressBar.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js")
        //- script(src='assets/js/progress.js')
        script(src="assets/js/dashboard.js")

        script(src="assets/js/progress.js")
        script(src="assets/js/custom.js")

        script(async, src="https://cdn.jsdelivr.net/npm/es-module-shims@1/dist/es-module-shims.min.js", crossorigin="anonymous")
        script(type="importmap" defer).
            {
                "imports": {
                    "@popperjs/core": "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/esm/popper.min.js",
                    "bootstrap": "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.esm.min.js"
                }
            }
        script(type="module" defer).
            import * as bootstrap from 'bootstrap'
            //- new bootstrap.Popover(document.getElementById('popoverButton'))

        script.
            $(function(){
                $('[data-bs-toggle="tooltip"]').tooltip();
            })
            