include ../mixins/_socialMediaHome.pug

footer 
    div.right-reserved
        |  &copy; Ministry of Foreign Affairs. All rights reserved 2024
    ul.footer-navlinks 
        li 
            a(href="") Copyright Policy 
        li 
            a(href="") Privacy Policy 
        li 
            a(href="") Accessibiliy 
        li 
            a(href="") Contact Us
        li 
            a(href="#") 
                <i class="fa-solid fa-arrow-up"></i>
