$font-primary: var(--primary-font);
$width: 100%;
$primary: blue;
$black: #000;
$white: #fff;
$secondary: #FAD164;
$border-color:rgba(208, 213, 221, 1);
$sub-heading:rgba(64, 64, 64, 1);
$label-color:rgba(27, 32, 36, 1);
$placeholder-color:rgba(102, 112, 133, 1);
$border-active-color:rgba(198, 75, 52, 1);
$button-bg: rgba(138, 21, 56, 1);
$bg-light:rgba(244, 244, 244, 0.8);
$admin-bg-color:rgba(246, 246, 246, 1);
$round-btn-bg:rgba(242, 242, 242, 1);
$light-white: rgba(255, 255, 255, 0.72);
$maroon:rgba(138, 21, 56, 1);
$desc-text-color:rgb(0,0,0,0.6);

$color-map: (
	primary: blue,
	white: #fff,
	black: #000,
	secondary: #FAD164,
	mani: grey
);
// $theme-colors: (
//   "mani": $mani,
// );