
footer{

    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    font-size: 12px;
    background-color: #fff;
    padding: 10px 20px;
    line-height: 28px;
    width: 100%;
    z-index: 999;

    @include media-breakpoint-up(lg){
        flex-direction: row;
        justify-content: space-between;
    }
    @include media-breakpoint-up(sm){
        font-size: 14px;
    }

    ul{
        display: flex;
        column-gap: 6px;
        flex-wrap: wrap;
        justify-content: center;

        @include media-breakpoint-up(sm){
            column-gap:25px;
        }

        a{

            color:#000;
        }

    }
}
