/* purgecss start ignore */

header{
      
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    box-shadow: 0 3px 5px rgb(0, 0, 0, 0.2);
    top: 0;
    z-index: 8888;

    @media (max-width:991px){
        row-gap: 7px;
    }
    @media (max-width:575px){
        row-gap: 16px;
        padding:10px 0;
        position: sticky;
        top: 0;
        z-index: 2;
        box-shadow: 0 0 9px rgb(0, 0, 0, 0.6);
        .logo{
            display: none;
        }
    }
    .userright-box{
        z-index: 8;
        background-color: white;
        inset-inline-end: 25px;
        inset-block-start: 50px;
        width: 195px;
        padding:5px;
        box-shadow: 0 0 4px rgb(161, 161, 161);
        ul{

            li{
                padding:6px;
                font-size:18px;
                a{
                    color:$label-color;
                }
                &:not(:last-child){
                    border-bottom: 1px solid $border-color;

                }    
            }

        }
    }
    

    @include media-breakpoint-up(lg){
        height: 88px;
        display: flex;
        flex-direction: row;
        padding:0 0 0 32px;
    }
    .select2-container--default{
        width:180px !important;
    }

    .notification-sec{
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 33px;

        @include media-breakpoint-up(sm){
            flex-direction: row;
        }

        .lang-notif{
            display: flex;
            align-items: center;
            column-gap: 33px;
        }
        .notification{
            position: relative;
            .notification-box{
                display: none;
                position: absolute;
                inset-inline-end: 33px;
                top:52px;
                width: 530px;
                height:auto;
                min-height: 100%;
                max-height: 524px;
                background-color: #fff;
                box-shadow: 0 0 5px rgb(185, 182, 182);
                border-radius: 12px;
                padding: 0;
                overflow-y:hidden;

                &::-webkit-scrollbar{
                    width: 10px;
                }
                &::-webkit-scrollbar-track{
                    width: 10px;
                    background-color: $white;

                }
                &::-webkit-scrollbar-thumb{
                    background-color: $bg-light;
                    border-radius: 5px;
                    border: 2px solid $white;
                }


            }

            
            .notification-box.active{
                display: block;
                z-index: 888;
            }

        }
        .admin{
            display: flex;
            align-items: center;
            height: 88px;
            background-color: $white;
            padding:0 32px 0 30px; 
            column-gap: 10px;
            @include media-breakpoint-up(lg){
                background-color: $admin-bg-color;
            }
            p{
                margin-bottom: 0;
                line-height: 16px;
            }
            
        }
    } 

    .select2-container--default .select2-results__option{
        padding: 10px;
    }

}

.select2-container .select2-selection--single{
    height: 49px;
    border-radius: 8px;
}

/* purgecss end ignore */
